[Desktop Entry]
Name=Monitor Settings
Name[af]=Monitorinstellings
Name[ar]=إعدادات المرقاب
Name[ast]=Axustes del monitor
Name[be]=Настаўленні манітора
Name[bg]=Екранни настройки
Name[bn]=পর্দার সেটিং
Name[ca]=Paràmetres de la pantalla
Name[cs]=Nastavení monitoru
Name[da]=Skærmopsætning
Name[de]=Bildschirmeinstellungen
Name[el]=Ρυθμίσεις οθόνης
Name[en_GB]=Monitor Settings
Name[es]=Ajustes del monitor
Name[et]=Monitori sätted
Name[eu]=Monitoreen ezarpenak
Name[fa]=تنظیمات نمایشگر
Name[fi]=Näytön asetukset
Name[fo]=Skíggjasetingar
Name[fr]=Paramètres de l'écran
Name[gl]=Axustes de pantalla
Name[he]=הגדרות הצג
Name[hr]=Postavke monitora
Name[hu]=Monitor beállításai
Name[id]=Pengaturan Monitor
Name[is]=Skjástillingar
Name[ja]=モニタの設定
Name[kk]=Монитор баптаулары
Name[ko]=모니터 설정
Name[lg]=Ntegeka z'olutimbe
Name[lt]=Ekrano nustatymai
Name[nb]=Skjerminnstillinger
Name[nl]=Beeldscherminstellingen
Name[nn]=Skjermoppsett
Name[pl]=Ustawienia wyświetlania
Name[pt]=Definições do monitor
Name[pt_BR]=Configurações do monitor
Name[ro]=Opțiuni pentru monitoare
Name[ru]=Настройки дисплея
Name[sk]=Nastavenia monitora
Name[sl]=Nastavitve zaslonov
Name[sr]=Подешавања монитора
Name[sr@latin]=Podešavanja monitora
Name[sv]=Visningsinställningar
Name[te]=మానిటర్ అమరికలు
Name[tr]=Görüntü Birimi Ayarları
Name[tt_RU]=Экран көйләүләре
Name[ug]=ئېكران تەڭشىكى
Name[uk]=Установки монітора
Name[vi]=Thiết lập Màn hình
Name[zh_CN]=显示器设置
Name[zh_TW]=螢幕設定
Comment=Change screen resolution and configure external monitors
Comment[af]=Verander skermresolusie en stel eksterne monitors op
Comment[ar]=غيّر دقّة الشاشة واضبط المراقيب الخارجية
Comment[ast]=Camudar la resolución de la pantalla y configurar monitores esternos
Comment[be]=Змяніць разрозненне экрана і канфігураваць вонкавыя маніторы
Comment[bg]=Промени резолюцията и конфигирурирай външните монитори
Comment[bn]=পর্দার রেজল্যুশন পরিবর্তন করা হবে এবং বাহ্যিক মনিটর কনফিগার করা হবে
Comment[ca]=Canvieu la resolució i configureu els monitors externs
Comment[cs]=Změnit rozlišení obrazovky a nastavit externí monitory
Comment[da]=Skift skærmopløsning og konfigurer eksterne skærme
Comment[de]=Die Bildschirmauflösung und externe Monitore konfigurieren
Comment[el]=Αλλαγή της ανάλυσης και προσαρμογή στις εξωτερικές οθόνες
Comment[en_GB]=Change screen resolution and configure external monitors
Comment[es]=Cambiar la resolución de la pantalla y configurar monitores externos
Comment[et]=Ekraani eraldusvõime muutmine ja väliste monitoride seadistamine
Comment[eu]=Aldatu pantailaren bereizmena eta konfiguratu kanpoko monitoreak
Comment[fa]=تغییر وضوح صفحه و پیکربندی نمایشگرهای جانبی
Comment[fi]=Muuta näytön tarkkuutta ja aseta ulkoiset näytöt
Comment[fo]=Broyt skíggjaloysni, og samanset ytru skíggjar
Comment[fr]=Modifier la résolution d'écran et paramétrer les écrans externes
Comment[gl]=Cambiar a resolución da pantalla e configurar os monitores externos
Comment[he]=שינוי רזולוציית הצג והגדרת צגים חיצוניים
Comment[hr]=Promijeni rezoluciju zaslona i konfiguriraj vanjske monitore
Comment[hu]=Képernyőfelbontás megváltoztatása és külső monitorok beállítása
Comment[id]=Ubah resolusi layar dan tata monitor eksternal
Comment[is]=Breyta skjáupplausn og skilgreina utanáliggjandi skjái
Comment[ja]=解像度の変更と外部モニタの設定を行います
Comment[kk]=Экран өлшемдерін мен сыртқы мониторларды баптау
Comment[ko]=화면 해상도를 바꾸고 외부 모니터를 설정합니다
Comment[lg]=Tegeka ntimbe ez'etongodde n'ebipimo bya kifaananyi mu pikiseli
Comment[lt]=Keiskite ekrano raišką ir konfigūruokite išorinius ekranus
Comment[nb]=Bytt skjermoppløsning og sett opp eksterne skjermer
Comment[nl]=Schermresolutie veranderen en externe beeldschermen instellen
Comment[nn]=Byt skjermoppløysing og set opp eksterne skjermar
Comment[pl]=Konfiguruje rozdzielczość i inne preferencje ekranów komputera
Comment[pt]=Alterar a resolução do ecrã e configurar monitores externos
Comment[pt_BR]=Modifique a resolução da tela e configure monitores externos
Comment[ro]=Schimbați rezoluția ecranului și configurați monitoare externe
Comment[ru]=Смена разрешения экрана и настройка внешних дисплеев
Comment[sk]=Zmeniť rozlíšenie obrazovky a nastaviť externé monitory
Comment[sl]=Nastavite ločljivost in zunanje zaslone
Comment[sr]=Промени величину екрана и подеси приказ на спољњем монитору
Comment[sr@latin]=Promeni veličinu ekrana i podesi prikaz na spoljnjem monitoru
Comment[sv]=Ändra skärmupplösning och gör inställningar för externa skärmar
Comment[te]=తెర విభాజకతను మార్చు మరియు బాహ్య మానిటర్లను స్వరూపించు
Comment[tr]=Ekran çözünürlüğünü değiştir ve harici görüntü birimlerini yapılandır
Comment[tt_RU]=Экран мөмкинлеген үзгәртү һәм тышкы экраннарны көйләү
Comment[ug]=ئېكران ئېنىقلىقىنى ئۆزگەرتىش ۋە سىرتقى كۆرسەتكۈچلەرنى سەپلەش
Comment[uk]=Змінити роздільну здатність і сконфігурувати зовнішні монітори
Comment[vi]=Thay đổi độ phân giải màn hình và cấu hình màn hình rời
Comment[zh_CN]=更改屏幕分辨率和配置外部显示器
Comment[zh_TW]=變更螢幕解析度以及設定外接顯示器
Exec=lxrandr
Icon=video-display
Terminal=false
Type=Application
Categories=GTK;Settings;HardwareSettings;X-LXDE-Settings;
Keywords=screen;display;tv;extend;projector;xrandr;refresh rate;position;enable;disable;
Keywords[cs]=obrazovka;zobrazení;televize;promítač;xrandr;obnovovací frekvence obrazu; poloha;povolit;zakázat;
Keywords[de]=Bildschirm;Anzeige;TV;erweitern;Projektor;xrandr;Bildwiederholrate;Position;einschalten;ausschalten;
Keywords[es]=pantalla;monitor;tv;extender;proyector;xrandr;tasa de actualización;posición;activar;desactivar;
Keywords[eu]=pantaila;bistaratzea;tb;hedatu;proiektagailua;freskatze-maiztasuna;gaitu;desgaitu;
Keywords[fi]=näyttö;näytön;monitori;tv;projektori;virkistystaajuus;hz;sijainti;screen;display;tv;extend;projector;xrandr;refresh rate;position;enable;disable;
Keywords[fr]=screen;display;tv;extend;projector;xrandr;refresh rate;position;enable;disable;
Keywords[gl]=pantalla;monitor;tv;estendido;proxector;xrandr;taxa de actualización;posición;activar;desactivar;
Keywords[he]=מסך;תצוגה;טלוויזיה;הרחבה;מקרן;קצב רענון;מיקום;הפעלה;נטרול;צג;מוניטור;
Keywords[hu]=kijelző;megjelenítő;tv;kiterjesztés;projektor;xrandr;frissítési arány;pozíció;engedélyezés;tiltás;
Keywords[id]=layar;tampilan;tv;proyektor;xrandr;laju penyegaran;posisi;fungsikan;aktifkan;matikan;nonaktifkan;
Keywords[is]=skjár;birting;sjónvarp;varpa;myndvarpi;xrandr;uppfærslutíðni:;position;virkja;óvirkt;
Keywords[ja]=スクリーン;ディスプレイ;TV;拡張;プロジェクター;xrandr;更新速度;位置;可能;不可;
Keywords[ko]=screen;화면;display;디스플레이;tv;TV;extent;확장;projector;프로젝터;xrandr;refresh rate;화면 주사율;position;위치;enable;활성;disable;비활성;
Keywords[lg]=lutimbe;ogw'okwolesa;naanula;pulojekita;xrandr;bwangu bwa kulaga kifaananyi;tandika;siba;
Keywords[nl]=scherm;beeldscherm;tv;uitrekken;projector;xrandr;verversingssnelheid;positie;inschakelen;uitschakelen;
Keywords[pl]=ekran;wyświetl;tv;rozszerz;projektor;xrandr;odświeżanie;położenie;włącz;wyłącz;
Keywords[pt]=ecrã;exibição;tv;expandir;projetor;xrandr;taxa;posição;ativar;desativar
Keywords[pt_BR]=tela;monitor;tv;projetor;xrandr;taxa de atualização;posição;ativar;desativar;
Keywords[ru]=экран;отображение;ТВ;расширить;проектор;xrandr;частота обновления;положение;включить;отключить;
Keywords[sr]=screen;display;tv;extend;projector;xrandr;refresh rate;position;enable;disable;
Keywords[sv]=screen;display;tv;extend;projector;xrandr;refresh rate;position;enable;disable;
Keywords[te]=తెర;డిస్‌ప్లే;టీవీ;ఎక్స్టెండ్;ప్రొజెక్టర్;xrandr;తాజారేటు;స్థానం;చేతనించు;అచేతనించు;
Keywords[tr]=ekran;görüntü;tv;uzatma;projektör;xrandr;yenileme hızı;konum;etkinleştir;devre dışı bırak;
Keywords[uk]=екран;відображення;зображення;тв;проектор;xrandr;частота оновлення;розміщення;підключення;ввімкнути;вимкнути;
