[Desktop Entry]
Type=Application
Exec=/sbin/poweroff
Name=Shutdown
Comment=Power off system
Categories=Utility;
Icon=system-shutdown-symbolic
Keywords=system;shutdown;power;
